<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Onlinebc API RG.RU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Gamja+Flower|Roboto');

        body {
            margin: 30px;
            font-family: 'Roboto1', sans-serif;
        }

        .gr {
            color: slategray;
        }

        .or {
            color: orangered;
        }

        .lt {
            letter-spacing: -3px;
            font-size: 150%;
        }
    </style>
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <div>
        <!-- <img src="//cdnimg.rg.ru/res/images/media/logo/rg-main2x.png" style="width:110px;"> -->
    </div>
    <h2>
    </h2>
    <h3>
        <span class="lt">
            <span class="gr">RG</span><span class="or">RU</span>
        </span>
    </h3>
    <h4>Onlinebc API </h4>
    <hr>
    <ul>
        {{range .}}
        <li>
            <div>{{.Description}}</div>
            <div>{{.Query}}</div>
            <div>example: <a target="blank" href="{{.Example}}">{{.Example}}</a></div>
            <br>
        </li>
        {{end}}
    </ul>
    <hr>
    <div>
        <a target="_blank" href="">GitLab</a>
    </div>


</body>

</html>